
<h2 class="ui teal header ui middle aligned center aligned grid ">Log-in</h2>

<div class=" ui middle aligned center aligned grid ">

    <form action="" class="ui large form">
        <div class="ui stacked segment">
            <div class="field six">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Username">
            </div>
            <div class="field six">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Senha">
            </div>

            <button type="submit" class="ui fluid large teal submit button" id="login-btn">Entrar</button>
        </div>

        <div class="ui message">Novo por aqui?  <a routerLink="/" class="ui fluid">  Crie uma conta.</a></div>
    </form>
</div>