<h2 class="ui center aligned icon header">
    <i class="circular users icon"></i>
    Vi um pix
</h2>
<p>O que é o ViUmPix? Projeto solidario para <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi assumenda, dolore facilis laboriosam nemo, nulla officia, perspiciatis placeat quas soluta ut vel? Debitis fuga ipsum mollitia quibusdam quo reiciendis.</span><span>Accusamus autem eaque enim facere harum incidunt itaque, iusto modi quia veritatis. Aliquam architecto assumenda consectetur deleniti dolores enim hic illo in, itaque molestiae nemo nulla quaerat tempora tempore ut.</span></p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae blanditii Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae blanditii Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae blanditii</span></p>

<app-lista-front-page></app-lista-front-page>