<h2 class="header">Recentemente adicionados: </h2>
<div class="ui horizontal list">
    <div class="item">
        <div class="ui card">
            <a class="image" href="#link">
                <img src="../../../assets/seumadruga.jpeg">
            </a>
            <div class="content">
                <a class="header" href="#link">Steve Jobes</a>
                <div class="meta">
                    <a class="time">Adicionado X horas atrás</a>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui card">
            <a class="image" href="#link">
                <img src="../../../assets/seumadruga.jpeg">
            </a>
            <div class="content">
                <a class="header" href="#link">Faustão</a>
                <div class="meta">
                    <a class="time">Adicionado X horas atrás</a>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui card">
            <a class="image" href="#link">
                <img src="../../../assets/seumadruga.jpeg">
            </a>
            <div class="content">
                <a class="header" href="#link">Gugu</a>
                <div class="meta">
                    <a class="time">Adicionado X horas atrás</a>
                </div>
            </div>
        </div>
    </div>


</div>
